#page-title {
    position: absolute;
    top: 50px;  /* Adjust as needed */
    left: 50px; /* Adjust as needed */
    font-size: 35px; /* Adjust as needed */
    font-family: Helvetica, sans-serif; /* Choose your preferred font */
    /* text-decoration: underline; Underlines the text */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

#circle-container {
    position: relative;
    width: 350px;  /* Adjust as needed */
    height: 350px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-circle {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    
    
}

.outer-circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.outer-circle:hover {
    background-color: #888;
}

